/* https://github.com/davatorium/rofi/blob/next/doc/rofi-theme.5.markdown */
@import "~/.cache/wal/colors-rofi-dark"
@import "./rounded"
configuration {
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method: "name";
  }
}
