URxvt.font: xft:Fira Code:size=14
URxvt.scrollBar: false
URxvt.letterSpace: 1

! Disable printing the terminal contents when pressing PrintScreen.
URxvt.print-pipe: "cat > /dev/null"

URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

URxvt.transparent: true
URxvt.shading: 40

URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

URxvt.saveLines: 20000

! Sensible copy/paste bindings
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Control-Meta-c: builtin-string:
URxvt.keysym.Control-Meta-v: builtin-string:
! URxvt.perl-ext-common: default
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.perl-ext-common: default,matcher,clipboard,resize-font
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1

! Copy into CLIPBOARD in addition to PRIMARY buffer
! URxvt.perl-ext-common:  ...,clipboard,...
URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
