;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/polybar/polybar
;
;   The README contains a lot of information
;
;==========================================================

[xresources]
background = ${xrdb:color0:#1b1b25}
foreground = ${xrdb:color7:#dedede}
primary = ${xrdb:color4:#528a9b}
secondary = ${xrdb:color2:#776690}
alert = ${xrdb:color3:#cb5760}
color6 = ${xrdb:color6:#222}

[color]
background = #1b1b25
foreground = #dedede
sep = #F8F8F2

white = #eeffff
black = #15121c
red = #cb5760
green = #999f63
yellow = #d4a067
blue = #6c90a8
purple = #776690
cyan = #528a9b
pink = #ffa8c5
orange = #c87c3e

[global/wm]
margin-bottom = 0
margin-top = 0
fixed-center = true

[settings]
screenchange-reload = true

; Compositing operators
pseudo-transparency = true
compositing-background = source
compositing-foreground = over
compositing-overline = over
compositing-underline = over
compositing-border = over

[bar/wal]
{{- if eq .chezmoi.hostname "WITCH" }}
monitor = ${env:MONITOR:}
{{- else if eq .chezmoi.hostname "ENIAC" }}
monitor = ${env:MONITOR:eDP-1}
{{- end }}

bottom = false
fixed-center = true
padding = 0
width = 100%
height = 27
offset-x = 0%
offset-y = 0%
radius-top = 0
radius-bottom = 0

background = #002d333f
foreground = ${color.foreground}
dim-value = 1.0

line-size = 1
line-color = ${xresources.background}

border-top-size = 3
border-top-color = #002d333f
border-left-size = 3
border-left-color = #002d333f
border-right-size = 2
border-right-color = #002d333f

; Specifying a font in a module is *1-indexed* (ex: content-font = 1 for font-0)
font-0 = "Unifont:fontformat=truetype;1"
font-1 = "Unifont:fontformat=truetype:size=8:antialias=false;0"
font-2 = "Font Awesome 6 Brands:fontformat=opentype:size=10;2"
font-3 = "Font Awesome 6 Free:fontformat=opentype:size=11;2"
font-4 = "Font Awesome 6 Free Solid:fontformat=opentype:size=10;2"
font-5 = "feather:fontformat=truetype:size=13;3"
font-6 = "Powerline Extra Symbols:fontformat=opentype:size=17;4"

modules-left = right1 i3 left1 sep right1 pulseaudio sep2 sep2 spotify left1 sep right1 wlan sep2 eth sep3 left1

{{- if eq .chezmoi.hostname "WITCH" }}
modules-right = right1 cpu temperature memory sep3 left1 sep right1 gpu gputemperature gpumemory sep3 left1 sep right1 weather left1 sep right1 date sep2 sep2 powermenu sep2 tray left1
{{- else if eq .chezmoi.hostname "ENIAC" }}
modules-right = right1 cpu temperature memory sep3 left1 sep right1 backlight-acpi sep3 left1 sep right1 battery sep2 battery2 sep3 left1 sep right1 date sep2 sep2 powermenu sep2 tray left1
{{- end }}

cursor-click = pointer

;; Modules

; https://github.com/Keyitdev/dotfiles/blob/v3/config/polybar/config.ini#L147
[glyph]
gleft = 
gright = 

[module/left1]
type = custom/text
content-background = #002d333f
content-foreground = ${xresources.background}
content = ${glyph.gleft}
content-font = 7

[module/right1]
type = custom/text
content-background = #002d333f
content-foreground = ${xresources.background}
content = ${glyph.gright}
content-font = 7

[module/sep]
type = custom/text
; Hack: unicode zero-width space as content to allow custom width via margin
content = "​"
content-margin = 1px
content-font = 3

[module/sep2]
type = custom/text
content = " "

content-foreground = ${xresources.background}
content-background = ${xresources.background}

; for padding the inside end of modules so last char doesn't get cut off
[module/sep3]
type = custom/text
; Hack: unicode zero-width space as content to allow custom width via margin
content = "​"
content-padding = 1px
content-background = ${xresources.background}
content-font = 3

[module/i3]
type = internal/i3

; Only show workspaces on the same output as the bar
pin-workspaces = true

; workspace icons
; gucharmap to view/copy siji icons
ws-icon-0 = "1;"
ws-icon-1 = "2;"
ws-icon-2 = "3;"
ws-icon-3 = "4;"
ws-icon-4 = "5;"
ws-icon-5 = "6;"
ws-icon-6 = "7;"
ws-icon-7 = "8;8"
ws-icon-8 = "9;9"
ws-icon-9 = "10;10"
ws-icon-default = ?

; Available tags:
;   <label-state> (default) - gets replaced with <label-(focused|unfocused|visible|urgent)>
;   <label-mode> (default)
format = <label-state><label-mode>

label-mode = %mode%
label-mode-background = ${xresources.background}
label-mode-foreground = ${color.foreground}
label-mode-padding = 1

label-focused = %icon%
label-focused-foreground = ${xresources.primary}
label-focused-background = ${xresources.background}
label-focused-underline =  ${xresources.primary}
label-focused-padding = 1

label-unfocused = %icon%
label-unfocused-background = ${xresources.background}
label-unfocused-padding = 1

label-visible = %icon%
label-visible-underline = ${xresources.primary}
label-visible-foreground = ${xresources.primary}
label-visible-background = ${xresources.background}
label-visible-padding = 1

label-urgent = %icon%
label-urgent-foreground = ${xresources.alert}
label-urgent-background = ${xresources.background}
label-urgent-padding = 1

[module/xbacklight]
type = internal/xbacklight

use-actual-brightness = true
enable-scroll = true

format = <ramp> <label>
format-background = ${xresources.background}

label = "%{A4:brightnessctl set +5% &:}%{A5:brightnessctl set 5%-:}%percentage:02%%%{A}%{A}"

ramp-0 =
ramp-1 =
ramp-2 =
ramp-3 =
ramp-foreground = ${color.yellow}

[module/backlight-acpi]
inherit = module/xbacklight
type = internal/backlight
card = intel_backlight

[module/cpu]
type = internal/cpu
interval = 1

format = <label>
format-prefix = 
format-prefix-foreground = ${color.red}
format-background = ${xresources.background}

label = " %percentage:02%%"

[module/memory]
type = internal/memory
interval = 1

format = <label>
; format-prefix = 
; format-prefix-foreground = ${color.purple}
format-background = ${xresources.background}
label = " %percentage_used:02%%"

[module/temperature]
type = internal/temperature
interval = 0.5

{{ if eq .chezmoi.hostname "WITCH" -}}
; AMD cpu source
hwmon-path = /sys/devices/pci0000:00/0000:00:18.3/hwmon/hwmon2/temp1_input
{{- end }}

thermal-zone = 0
warn-temperature = 80
units = true

; format = <ramp> <label>
format = <ramp> <label>
format-background = ${xresources.background}

format-warn = <ramp> <label-warn>
format-warn-background = ${xresources.background}

label = "%temperature-c:02%"

label-warn = "%temperature-c:02%"
label-warn-foreground = ${color.orange}

ramp-0 = ""
ramp-1 = ""
ramp-2 = ""
ramp-3 = ""
ramp-4 = ""

; ramp-0 = 
; ramp-1 = 
; ramp-2 = 
; ramp-3 = 
; ramp-4 = 
; ramp-foreground = ${color.cyan}

[module/gpu]
type = custom/script
tail = true
exec-if = nvidia-smi
exec = nvidia-smi --loop=1 --query-gpu=utilization.gpu --format=csv,noheader,nounits

format = <label>
label = " %output:02%%"
format-background = ${xresources.background}
format-prefix = 
format-prefix-foreground = ${color.green}

[module/gpumemory]
type = custom/script
tail = true
exec-if = nvidia-smi
exec = nvidia-smi --loop=1 --query-gpu=utilization.memory --format=csv,noheader,nounits
format = <label>
label = " %output:02%%"

format-background = ${xresources.background}
; format-prefix = 
; format-prefix-foreground = ${color.green}

[module/gputemperature]
type = custom/script
tail = true
exec-if = nvidia-smi
exec = nvidia-smi --loop=1 --query-gpu=temperature.gpu --format=csv,noheader,nounits

format = <label>
format-background = ${xresources.background}
label = " %output:02%°C"
; format-prefix = 
; format-prefix-foreground = ${color.cyan}

[module/wlan]
type = internal/network
interval = 1
interface = wlan0

unknown-as-up = true
click-middle = nm-applet

format-connected = <label-connected>
format-connected-prefix = 
format-connected-prefix-foreground = ${color.orange}
format-connected-background = ${xresources.background}
format-connected-padding = 0

format-disconnected = <label-disconnected>
format-disconnected-prefix = ""
format-disconnected-prefix-foreground = ${color.red}
format-disconnected-background = ${xresources.background}
format-disconnected-padding = 0

label-connected = "%{A1:nm-applet &:} %essid% %netspeed%%{A}"

# colors.red
label-disconnected = "%{F#cb5760}%{A1:nm-applet &:}%{A}%{F}"

[module/eth]
type = internal/network

{{- if eq .chezmoi.hostname "WITCH" }}
interface = enp6s0
{{- else if eq .chezmoi.hostname "ENIAC" }}
interface = enp0s31f6
{{- end }}

interval = 1

unknown-as-up = true

format-connected = <label-connected>
format-connected-prefix = 
format-connected-prefix-foreground = ${color.green}
format-connected-background = ${xresources.background}
format-connected-padding = 0

format-disconnected = <label-disconnected>
format-disconnected-prefix = ""
format-disconnected-prefix-foreground = ${color.red}
format-disconnected-background = ${xresources.background}
format-disconnected-padding = 0

label-connected = "%{A1:nm-applet &:} %local_ip% %netspeed%%{A}"

label-disconnected = ""

; [module/eth-thunderbolt]
; inherit = module/eth
; interface = enx482ae3696c98

; [module/eth-dockusbcadapter]
; inherit = module/eth
; interface = enx00e04c0322ca

[module/date]
type = internal/date
interval = 1

date = "%{A3:gnome-calendar:}%a %d %b%{A}"
date-alt = "%{A3:gnome-calendar:}%A %d %B %Y%{A}"

time = "%H:%M"
time-alt = "%H:%M:%S"

format = <label>
format-prefix = " "
format-prefix-foreground = ${color.blue}
format-background = ${xresources.background}

label = %date% %time%

[module/pulseaudio]
type = internal/pulseaudio

format-volume = <ramp-volume> <label-volume>
format-volume-background = ${xresources.background}
format-muted = <label-muted>
format-muted-background = ${xresources.background}

label-volume = %percentage:02%%
label-muted = " 00%"
label-muted-foreground = ${color.red}

ramp-volume-0 = 
ramp-volume-1 = 
ramp-volume-2 = 
ramp-headphones-0 = 
ramp-volume-foreground = ${color.blue}

click-right = pavucontrol
click-middle = blueberry

[module/battery]
type = internal/battery
poll-interval = 5
battery = BAT0
adapter = AC
full-at = 98
time-format = %H:%M

format-charging = <label-charging>
format-charging-prefix = ""
format-charging-prefix-foreground = ${color.green}
format-charging-background = ${xresources.background}
format-charging-prefix-background = ${xresources.background}

format-discharging = <ramp-capacity> <label-discharging>
format-discharging-background = ${xresources.background}
format-discharging-prefix-background = ${xresources.background}

format-full = <label-full>
format-full-prefix = ""
format-full-prefix-foreground = ${color.green}
format-full-prefix-background = ${xresources.background}

label-charging = "%percentage%%"
label-charging-background = ${xresources.background}

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-3 = 
ramp-capacity-4 = 

label-discharging = "%percentage%%"
label-discharging-background = ${xresources.background}

label-full = "%percentage%%"
label-full-background = ${xresources.background}

[module/battery2]
inherit = module/battery
battery = BAT1

[module/powermenu]
type = custom/menu

expand-right = false

format-spacing = 0
format-background = ${xresources.background}

label-open = 
label-open-font = 7
label-open-background = ${xresources.background}
label-close = cancel 
label-close-background = ${xresources.background}
label-separator = |
label-separator-background = ${xresources.background}

menu-0-0 = power off
menu-0-0-background = ${xresources.background}
menu-0-0-exec = systemctl poweroff
menu-0-1 = reboot
menu-0-1-background = ${xresources.background}
menu-0-1-exec = systemctl reboot
menu-0-2 = logout
menu-0-2-background = ${xresources.background}
menu-0-2-exec = i3-msg exit

[module/spotify]
type = custom/script
interval = 0.2
exec-if = pgrep -x spotify
exec = ~/.config/polybar/scripts/spotify-bar

format = <label>
format-prefix = " "
label = "%{A4:pactl set-sink-input-volume $(input_sink_num spotify) +5% &:}%{A5:pactl set-sink-input-volume $(input_sink_num spotify) -5%:}%output%%{A}%{A}"
format-prefix-foreground = ${color.green}
format-underline = ${color.green}
format-background = ${xresources.background}

click-left = playerctl --player=spotify play-pause
click-right = playerctl --player=spotify next
click-middle = playerctl --player=spotify previous

[module/weather]
type = custom/script
interval = 300 ; 5 minutes
exec = ~/.config/polybar/scripts/weather

format = <label>
format-prefix = "☁ "
format-prefix-font = 5
label = "%output%"
format-prefix-foreground = ${color.cyan}
format-background = ${xresources.background}

[module/tray]
type = internal/tray
; https://polybar.readthedocs.io/en/latest/user/modules/tray.html#tray-module

; cannot round corners on the tray after migration to new module
; instead, we put the tray module within the final rounded section
; that contains the clock and powermenu

tray-size = 66%
; bg color of the icons
tray-background = ${xresources.background}
; bg color *around* the icons
format-background = ${xresources.background}
; spacing before and after each icon
tray-padding = 4
