{{- if eq .chezmoi.hostname "WITCH" -}}
displays:
  - name: DP-0
    workspaces: [1,2,4]
    randr_extra_options: "--primary"
  - name: DP-2
    workspaces: [3,5,6,7,8,9]
    randr_extra_options: "--right-of DP-0"
  - name: HDMI-0
    workspaces: [10]
    randr_extra_options: "--left-of DP-0"
{{- else if eq .chezmoi.hostname "ENIAC" -}}
displays:
  - name: eDP-1
    workspaces: [1,2,4]
    randr_extra_options: "--primary"
  - name: HDMI-0
    workspaces: [3,5,6,7,8,9,10]
    randr_extra_options: "--right-of DP-2"
{{- end }}
